* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  height: 100px;
  width: 100%;
  background-color: #cf8383;

  position: fixed;

  padding-left: 20px;
  padding-right: 20px;
}
