* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.nav-bar {
  background: #8b3d46;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0 auto; /* Centers the menu */
}

.nav-items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.reg-btn {
  background-color: white;
  color: black;
  padding: 6px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reg-btn:hover {
  background-color: #d2e8ff;
}

/* PAGE TEXT */
.intro-text {
  margin-top: 100px;
  padding-left: 20px;
  font-size: 18px;
}

/* BOX SECTION */
.box-section {
  display: flex;
  gap: 60px;
  margin: 40px 0 0 60px;
}

.box {
  width: 100px;
  height: 70px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 6px gray;
}

.box1 {
  background-color: #d96f7f;
}
.box2 {
  background-color: #7db6e0;
}
.box3 {
  background-color: #79c77a;
}

/* TABLE */
.tab {
  margin: 30px 0 0 60px;
}

table {
  width: 540px;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #79c77a;
  color: white;
}
